@use "./variables" as *;

:root {
  --bg: #{$color-light-bg};
  --text: #{$color-light-text};
  --muted: #{$color-light-muted};
}

[data-theme="dark"] {
  --bg: #{$color-dark-bg};
  --text: #{$color-dark-text};
  --muted: #{$color-dark-muted};
}
