@use "./variables";
@use "./themes";
@use "./components/taskList";

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

button {
    background: var(--accent);
    color: #fff;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;

    &:hover {
        background: var(--accent-hover);
    }
}
