@use "../variables";

.toast-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 9999;
}

.toast {
  padding: 0.75rem 1rem;
  border-radius: 6px;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  opacity: 0.95;
  animation: fadeIn 0.2s ease-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.toast-success {
  background-color: variables.$color-toast-success;
}

.toast-info {
    background-color: variables.$color-toast-info;
}

.toast-error {
  background-color: variables.$color-toast-error;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
